@{
    Layout = "MainLayout";
    ViewBag.Test = "test value"; // this given compilation error
    Model.Something = "invalid"; // this crashes whole application
}       

<div class="row">
    <div class="span12">
        <a href="secure">Enter the "Secure Zone"!</a>
    </div>
</div>
