<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Some Application</title>
    <link href="@Url.Content("/assets/bootstrap/css/bootstrap.css")" rel="stylesheet"/>
    @RenderSection("Header", required: false)
</head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@Url.Content("/")">Project name</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                                <a href="./index.html">Overview</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
        <div class="container">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
