@{
    Layout = "MainLayout";
}       

<div class="row">
    <div class="span12">
        <h1>Welcome to the secure area @Model.Username !</h1>
        <p>Your session id: @Model.Id</p>
        <p>
            <a href="@Url.Content("~/logout")">Logout</a>
        </p>
    </div>
</div>
